section#braidwood.accomodation
  .container
    h1.title Accomodation in Braidwood
    ul.lodging
      each place in lodging
        li.place
          h3= place.name
          p=place.title
          a(href="#{place.url}") View website
