#details
section.rsvp#rsvp
  .container
    .rsvp-details
      header.rsvp-header
        h1.title RSVP
      .rsvp-content
        h3 for real this time
        a.button(href='https://robinandandrew.typeform.com/to/bqVCmf' target='_blank') RVSP NOW