header.homepage-header
  .logo-outer
    .logo-inner
      h3.lead-in Together with their lovely families
      h1.robin-hall
        span.robin Robin
        span.hall
          |  Hall
          span.and &
      h1.andrew-carr
        span.andrew Andrew
        span.carr  Carr
      h4.knees-up are celebrating getting hitched with a glittery knees-up
      .text-block
        h4
          | Saturday
          span.embiggen  25
          |  october
          span.embiggen  2014
          br.hide-desktop.hide-mobile
          |  at
          span.embiggen  half past 3
          |  in the afternoon
          br.hide-mobile
          |  at
          span.embiggen  Garan Vale Woolshed,
          br.hide-desktop.hide-mobile
          span.embiggen  Braidwood NSW
          |  Australia

  include nav
