nav.site-nav
  .container
    ul.nav-links
      li
        a(href="#details") RSVP
      li
        a(href="#braidwood") Accomodation in Braidwood
      li
        a(href="#registry") Registry
      li
        a(href="#party") Wedding Party
