section.registry#registry
  .container
    .registry-details
      header.registry-header
        h1.title Gift Registry
        h2 Your presence is present enough, but if you choose to buy us a gift, we are registered at
        a.button(href='https://www.blueprintregistry.com/registry/robinandandrewhitched' target='_blank') Visit Online Registry
      .addresses
        .address
          h3 If you're buying from an seller in Oz please send gifts to:
          :markdown
            Andrew Carr  
            c/o Thoughtworks  
            Level 8, 51 Pitt St,  
            Sydney NSW 2000  
            Australia  
        .address
          h3 If you're buying from a seller in the US please send gifts to:
          :markdown
            Andrew Carr  
            55335 Corwin Rd  
            Unit A976362  
            Elkhart, IN 46514  
            United States  
