section#party
  .container
    h2 The Cast of Characters
    ul.wedding-party
      li
        .flipper
      each member in weddingParty
        li
          .flipper
            .front
              img(src='#{member.img}')
            .back
              .info-outer
                .info-inner
                  .info
                    h3= member.name
                    label= member.title
      li
        .flipper