extends layout

block content
  header.site-header
    h1
      | Robin
      span.amp  &
      |  Andrew

  ul
    each member in weddingParty
      li
        h1 #{member.name}
        h3 #{member.side}
        img(src="#{member.img}")