extends layout

block content
  header.site-header
    h1 Robin & Andrew

  section#details

  section#braidwood

  section#party
    ul.wedding-party-list
      each member in weddingParty.groom
        li
          h1 #{member.name}
          img(src="#{member.img}")

  section#registry