extends layout

block content
  header.site-header
    h1 Robin & Andrew

  section#details

  section#braidwood

  section#party
    .wedding-party
      h2 Groomspeople
      ul.grooms-party
        each member in weddingParty.groom
          li
            h1 #{member.name}
            img(src="#{member.img}")

      h2 Bridespeople
      ul.bride-party
        each member in weddingParty.bride
          li
            h1 #{member.name}
            img(src="#{member.img}")

  section#registry