doctype html
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='style.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css')

    script(type='text/javascript', src='vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='vendor/jquery-waypoints/waypoints.min.js')
    script(type='text/javascript', src='vendor/jquery-smooth-scroll/jquery.smooth-scroll.min.js')

  body
    .bg
    block content

    script(type='text/javascript' src='app.js')
