article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, 'Roboto-Light', Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  *zoom: 1;
  padding: 0 0.5em;
  max-width: 48em;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 20em) {
  .container {
    padding: 0;
  }
}
.homepage-header {
  background: #000;
  color: #fff;
}
.site-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,0.2);
}
.site-nav .nav-links {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding-left: 0;
  max-width: 40em;
  margin: 0 auto;
}
.site-nav .nav-links:before,
.site-nav .nav-links:after {
  content: '';
  display: table;
}
.site-nav .nav-links:after {
  clear: both;
}
.site-nav .nav-links li {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}
.site-nav .nav-links li:before,
.site-nav .nav-links li:after {
  content: '';
  display: table;
}
.site-nav .nav-links li:after {
  clear: both;
}
.site-nav .nav-links li a {
  color: #0ff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: block;
  padding: 1em;
  border-bottom: 0px transparent solid;
  text-decoration: none;
}
.site-nav .nav-links li a:hover,
.site-nav .nav-links li a:focus {
  background: rgba(0,0,0,0.2);
  padding: 1em 1em 0.75em 1em;
  border-bottom: 0.25em #0ff solid;
}
.site-nav + * {
  padding-top: 3em;
}
.wedding-party ul {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.wedding-party ul:before,
.wedding-party ul:after {
  content: '';
  display: table;
}
.wedding-party ul:after {
  clear: both;
}
.wedding-party ul li {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.wedding-party ul li:before,
.wedding-party ul li:after {
  content: '';
  display: table;
}
.wedding-party ul li:after {
  clear: both;
}
.wedding-party ul li:last-child {
  margin-right: 0%;
}
