@import 'nib'
@import 'jeet'
@import 'rupture'

@import 'colors'
@import 'mixins'

@import 'typography'
@import 'camping-icons'
reset-html5()

body
  margin 0
  font-family $body-font
  font-weight 300

h1, h2, h3, h4, h5, h6
  font-weight 300

img
  display block
  max-width 100%

.container
  cf()
  padding 0 0.5em
  max-width 48em
  margin 0 auto

  +above($tablet)
    padding 0

.homepage-header
  background black
  color white

.site-nav
  position fixed
  top 0
  right 0
  left 0
  background rgba(white, 0.2)

  .nav-links
    cf()
    reset-list()
    max-width 40em
    margin 0 auto

    li
      span(3/12)
      text-align center

      a
        color $primaryColor
        transition all 200ms ease-in-out
        display block
        padding 1em
        border-bottom 0px transparent solid
        text-decoration none

        &:hover,
        &:focus
          background rgba(black, 0.2)
          padding 1em 1em 0.75em 1em
          border-bottom 0.25em $primaryColor solid

  & + *
    padding-top 3em

.wedding-party
  ul
    cf()
    reset-list()

    li
      col(3/12)
