@import 'nib'
@import 'jeet'
@import 'rupture'

@import '_colors'
@import '_mixins'

@import '_typography'
@import '_camping-icons'

reset-html5()

*
  box-sizing(border-box)

body
  margin 0
  font-family $body-font
  font-weight 300

h1, h2, h3, h4, h5, h6
  font-weight 300

img
  display block
  max-width 100%

.container
  cf()
  padding 0 1em
  max-width 60em
  margin 0 auto

  +above($tablet)
    padding 0

.homepage-header
  background black
  color white

.site-nav
  transform(translateZ(0px))
  position fixed
  top 0
  right 0
  left 0
  background black
  z-index 3

  .nav-links
    cf()
    reset-list()
    max-width 40em
    margin 0 auto

    li
      span(3/12)
      text-align center

      a
        color $primaryColor
        transition all 200ms ease-in-out
        display block
        padding 1em
        border-bottom 0px transparent solid
        text-decoration none

        &:hover,
        &:focus
          background rgba(white, 0.1)
          padding 1em 1em 0.75em 1em
          border-bottom 0.25em $primaryColor solid

  & + *
    padding-top 3em

.wedding-party
  text-align center

  ul
    cf()
    reset-list()

    li
      margin-bottom 1em
      background rgba(black, 0.05)
      border-radius 50%

      +between($slate, $tablet)
        col(5/15)

        &:nth-child(3n)
          margin-right 0%

      +above($tablet)
        col(3/15)

        &:nth-child(5n)
          margin-right 0%

      .flipper
        transform(perspective(1000px))
        transition 600ms ease-in-out
        transform-style preserve-3d
        position relative
        padding-bottom 100%

        .front
          z-index 2

        .back
          transform(rotateY(180deg))
          border-radius 50%
          background $primaryColor
          color white

          .info
            h3
              margin 0
            label
              font-size 0.75em

          .info-outer
            display table
            height 100%
            margin 0 auto

          .info-inner
            display table-cell
            vertical-align middle

        .front,
        .back
          backface-visibility(hidden)
          position absolute
          top 0
          left 0
          height 100%
          width 100%

      &:hover
      &.hover
        .flipper
          transform(rotateY(180deg))