@import 'nib'
@import 'nib/gradients'
@import 'jeet'
@import 'rupture'

@import '_colors'
@import '_mixins'

@import '_typography'
@import '_camping-icons'

reset-html5()

*
  box-sizing(border-box)

body
  margin 0
  color white
  background linear-gradient(top, $yellowColor, $greenColor, $blueColor 90%)
  font-family $bodyFont
  font-weight 300

img
  display block
  max-width 100%

h1, h2, h3, h4, h5, h6
  font-family $headingFont

.title
  text-align center

.container
  cf()
  padding 0 1em
  max-width 72em
  margin 0 auto

  +above($desktop)
    padding 0

.homepage-header
  position relative
  color white
  padding 0 0.5em 2em

  +above($desktop)
    height 100vh

  .logo-outer
    display table
    height 100%
    margin 0 auto

    .logo-inner
      display table-cell
      vertical-align middle
      text-transform uppercase
      text-align center
      font-size 1.5vw
      text-shadow 0 1px 1px rgba(black, 0.08)

.site-nav
  display none
  transform(translateZ(0))
  position absolute
  right 0
  bottom 0
  left 0
  z-index 3
  border-bottom 0.25em transparent solid

  +above($tablet)
    display block

  .nav-links
    cf()
    reset-list()
    margin 0 auto

    li
      span(3/12)
      text-align center
      text-transform uppercase

      a
        color white
        font-weight 600
        font-family $headingFont
        text-decoration none
        position relative
        display block
        padding 1em 0

        &:after
          content ''
          transition transform 300ms ease-in-out
          border-bottom 0.25em white solid
          transform(scaleX(0))
          position absolute
          margin 0 auto
          width 100%
          bottom 0
          right 0
          left 0

        &:hover
          &:after
            transform(scaleX(1))

  &.fixed-top
    position fixed
    border-bottom 0.25em white solid
    background white
    bottom auto
    z-index 100
    top 0

    li a
      color $primaryColor

      &:after
        border-color $primaryColor

.accomodation
  padding 8em 0

.lodging
  cf()
  reset-list()

  li
    text-align center

    +above($tablet)
      col(1/2)
      text-align center

      &:nth-child(2n+1)
        margin-right 0%

    +above($desktop)
      col(1/3)
      text-align center

      &:nth-child(2n+1)
        margin-right 3%

      &:nth-child(3n+1)
        margin-right 0%

.wedding-party
  text-align center
  reset-list()
  cf()
  padding 0 5%

  li
    col(1/2)
    border-radius 50%
    padding-bottom 4%

    &:first-child
      display none

    &:nth-child(2n+1)
      transform(translateY(50%))
      margin-right 0

    +above($slate)
      col(1/3)

      &:first-child
        display inherit
        width 15%

      &:nth-child(2n+1)
        transform(translateY(0))
        margin-right 3%

      &:nth-child(3n)
        margin-right 0

      &:nth-child(13)
        margin-left 15%

    +above($desktop)
      col(1/5)

      &:first-child
        width 7.5%

      &:nth-child(3n)
        margin-right 3%

      &:nth-child(5n)
        margin-right 0

      &:nth-child(11)
        margin-left 10%

      &:nth-child(13)
        margin-left 0

    .flipper
      transform(perspective(1000px))
      transition 600ms ease-in-out
      transform-style preserve-3d
      padding-bottom 100%
      position relative

      .front
        z-index 2

      .back
        transition 600ms ease-in-out
        transform(rotateX(180deg))
        border-radius 50%
        background darken(white, 50%)
        color darken($primaryColor, 50%)

        .info
          h3
            margin 0

          label
            font-size 0.75em

        .info-outer
          display table
          height 100%
          margin 0 auto

        .info-inner
          display table-cell
          vertical-align middle

      .front,
      .back
        backface-visibility(hidden)
        position absolute
        top 0
        left 0
        height 100%
        width 100%

    &:hover
      .flipper
        transform(rotateX(180deg))

        .back
          background white
          color $primaryColor
