@import 'nib'
@import 'jeet'
@import 'rupture'

@import '_colors'
@import '_mixins'

@import '_typography'
@import '_camping-icons'

reset-html5()

*
  box-sizing(border-box)

body
  margin 0
  font-family $body-font
  font-weight 300

h1, h2, h3, h4, h5, h6
  font-weight 300

img
  display block
  max-width 100%

.container
  cf()
  padding 0 1em
  max-width 60em
  margin 0 auto

  +above($desktop)
    padding 0

.homepage-header
  position relative
  background $primaryColor
  color white
  height 100vh

  .logo-outer
    display table
    height 100%
    margin 0 auto

    .logo-inner
      display table-cell
      vertical-align middle

.site-nav
  transform(translateZ(0px))
  position absolute
  right 0
  bottom 0
  left 0
  background $primaryColor
  z-index 3

  .nav-links
    cf()
    reset-list()
    max-width 40em
    margin 0 auto

    li
      span(3/12)
      text-align center

      a
        color white
        transition all 200ms ease-in-out
        display block
        padding 1em
        border-bottom 0px transparent solid
        text-decoration none

        &:hover,
        &:focus
          background rgba(white, 0.1)
          padding 1em 1em 0.75em 1em
          border-bottom 0.25em white solid

  & + *
    padding-top 3em

  &.fixed-top
    position fixed
    top 0
    bottom auto

.map-container
  position relative
  padding-bottom 25%

  .map
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background #e7e8e8 url('http://api.tiles.mapbox.com/v3/2metres.ifa98i6k/pin-l-star+f44(149.823,-35.447,12)/149.801,-35.444,15/1280x1270.png') no-repeat center center fixed

.lodging
  cf()
  reset-list()
  padding 3em 0

  li
    col(1/3)

    &:nth-child(3n)
      margin-right 0%

.wedding-party
  text-align center
  cf()
  reset-list()

  li
    margin-bottom 1em
    background rgba(black, 0.05)
    border-radius 50%
    box-shadow inset 0 0.125em 0 0 rgba(black, 0.05)

    +below($slate)
      col(1/2)

      &:nth-child(2n)
        margin-right 0%

      &:first-child
        display none

    +between($slate, $tablet)
      col(5/15)

      &:nth-child(3n)
        margin-right 0%

    +above($tablet)
      col(3/15)

      &:nth-child(5n)
        margin-right 0%

    .flipper
      transform(perspective(1000px))
      transition 600ms ease-in-out
      transform-style preserve-3d
      position relative
      padding-bottom 100%

      .front
        z-index 2

      .back
        transition 600ms ease-in-out
        transform(rotateX(180deg))
        border-radius 50%
        background darken($primaryColor, 50%)
        color white

        .info
          h3
            margin 0
          label
            font-size 0.75em

        .info-outer
          display table
          height 100%
          margin 0 auto

        .info-inner
          display table-cell
          vertical-align middle

      .front,
      .back
        backface-visibility(hidden)
        position absolute
        top 0
        left 0
        height 100%
        width 100%

    &:hover
      .flipper
        transform(rotateX(180deg))

        .back
          background $primaryColor
